Tools/jmeter/其它协议/WebService接口/MathUtil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sean.com"
        xmlns:apachesoap="http://xml.apache.org/xml-soap"
        xmlns:impl="http://sean.com"
        xmlns:intf="http://sean.com"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified"
          targetNamespace="http://sean.com"
          xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>
   <wsdl:message name="addResponse">
      <wsdl:part element="impl:addResponse" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="addRequest">
      <wsdl:part element="impl:add" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="MathUtil">
      <wsdl:operation name="add">
         <wsdl:input message="impl:addRequest" name="addRequest">
       </wsdl:input>
         <wsdl:output message="impl:addResponse" name="addResponse">
       </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MathUtilSoapBinding" type="impl:MathUtil">
      <wsdlsoap:binding style="document"
              transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="add">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="addResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MathUtilService">
      <wsdl:port binding="impl:MathUtilSoapBinding" name="MathUtil">
         <wsdlsoap:address
                 location="http://localhost:18080/webservice_create/services/MathUtil"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>